---
---

@import "{{ site.theme }}";

#project_tagline {
  display: none;
}


/**
 * links
 */

#header_wrap a {
  color: #ddd;
  &:hover, &:focus, &.active {
    color: #eee;
  }
}

#header_wrap h1 a {
  &, &:hover, &:focus {
    font-weight: bold;
  }
  &.active {
    text-decoration: none;
  }
}

#main_content a, header a, footer a {
  text-decoration: none;
  &:hover, &:focus, &.active {
    font-weight: normal;
    text-decoration: underline;
  }
}


/**
 * navigation bar
 */

#header_wrap {
  position: relative;
}

.main-nav {
  position: absolute;
  right: 0;
  bottom: 0;
  ul {
    list-style: none;
    margin: 5px 10px;
  }
  li {
    display: inline-block;
    padding: 0 .3em;
  }
}


/**
 * home page
 */

#they-trust-us + p img {
  margin: 10px 5px;
}
