---
---

@import "{{ site.theme }}";

/* RBI logo colors */
$color-blue: #004;
$color-red:  #f00;

/**
 * header & footer colors
 */
#header_wrap,
#footer_wrap,
#footer_wrap p {
  background: none #ddd;
}
#header_wrap * {
  text-shadow: none;
}
#header_wrap h2 {
  display: none;
}
#footer_wrap p {
  color: #555; /* FTR, body is #373737 */
}

/**
 * title bar
 */
#project_title a span {
  display: none;
}
#project_title a {
  display: block;
  width: 248px;
  height: 200px;
  background-image: url(/assets/logo.png);
}

/**
 * content titles
 */
#main_content h1 {
  border-bottom: 1px dotted $color-red;
}
h1, h2, h3, h4, h5, h6 {
  color: $color-blue;
}

/**
 * content & footer links
 */
#main_content a:hover,
#main_content a:focus,
footer a:hover,
footer a:focus {
  font-weight: normal;
  color: $color-red;
}
a, footer a {
  color: $color-blue;
  text-decoration: underline;
}
